{% for game in games %}
    <div>
        <button hx-get="/analyze/pgn?pgn={{ game }}"
                hx-target="#analysis"
                hx-swap="outerHTML"
        >analyze game
        </button>
    </div>
    {% set _ = board.reset() %}
    <div>
        {% for move in game.mainline_moves() %}
            {% set _ = board.push(move) %}
            <button hx-on:click="chessground.set({fen: '{{ board.fen() }}'});"
                    hx-get="/analyze/fen?fen={{ board.fen() }}"
                    hx-target="#eval"
                    hx-swap="outerHTML"
            >{{ move }}</button>
        {% endfor %}
    </div>
{% endfor %}