{% for game in games %}
    <div>
{#    put pgn itself into textarea instead of an attribute, so we don't need to care about quoting etc #}
        <textarea hidden id="pgn-{{ loop.index }}" name="pgn">{{ game|string|tojson }}</textarea>
        <input type="hidden" id="player-{{ loop.index }}" name="player" value="{{ player }}">
        <button hx-get="/analyze/pgn?"
                hx-include="#pgn-{{ loop.index }}, #player-{{ loop.index }}"
                hx-target="#analysis"
                hx-swap="outerHTML"
        >analyze game
        </button>
    </div>
    {% set _ = board.reset() %}
    <div>
        {% for move in game.mainline_moves() %}
            {% set _ = board.push(move) %}
            <button hx-on:click="chessground.set({fen: '{{ board.fen() }}'});"
                    hx-get="/analyze/fen?fen={{ board.fen() }}"
                    hx-target="#eval"
                    hx-swap="outerHTML"
            >{{ (loop.index + 2) // 2 }}. {{ move }}</button>
        {% endfor %}
    </div>
{% endfor %}